body {
    background-color: #fff;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
main {
    background-color: #f6f6f6;
    position: relative;
}

main div {
    width: 100px;
    aspect-ratio: 1/1;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

main.square {
}
main div.ball {
    background-color: orange;
    border-radius: 50%;
    transform: translate(-100%, 0);
    animation: aaliyah 2s infinite;
    z-index: 100;
}
@keyframes aaliyah {
    0% {
        transform: translate(-100%, 0);
    }

    50% {
        transform: translate(100%, 0);
    }
}

main div.square {
    z-index: 50;
    animation: cremora 2s infinite;
}
@keyframes cremora {
    0% {
        z-index: 50;
    }
    49% {
        z-index: 50;
    }
    50% {
        z-index: 150;
    }
    100% {
        z-index: 150;
    }
}
